<a href="http://codepen.io/teddarcuri/" class="pill-btn">
    {{fa-icon 'fa-codepen'}}
</a>
<div class="pill-btn">
    {{fa-icon 'fa-github'}}
</div>
<div class="pill-btn">
    {{fa-icon 'fa-linkedin'}}
</div>
<div class="pill-btn">
    {{fa-icon 'fa-twitter'}}
</div>
