// Bourbon
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

// Meyer Reset
@import "config/reset";

// Mixins
@import "config/mixins";

// Fonts
@import "config/fonts";

// Utilities
// Fonts
@import "config/utilities";

// Forms
@import "forms";

// Components
@import "components/project-tile";
@import "components/donut-chart";
@import "components/gravatar-image";
@import "components/flickity";

// Variables
$nav-width: 80px;
$nav-padding: 150px;
$nav-padding-small: $nav-padding / 4;



* {
	font-family: 'Proxima Nova';
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: whitesmoke;
}

// Main Navigation
#main-nav {
	padding-top: 100px;
	padding-left: $nav-padding;
	padding-right: 30px;
	height: 100%;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
/* 	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
 */
	@include bp(1200px) {
		padding-left: $nav-padding-small;
	}

	@include bp(600px) {
		padding: 15px;
		height: auto;
		width: 100%;
	}

	ul {
		display: inline-block;
		@include bp(600px) {
			position: absolute;
			right: 10px;
			top: 10px;
		}
		li {
			margin: 20px 0px;
			list-style: none;
			@include bp(600px) {
				display: inline-block;
				padding: 0px 10px;
			}
			a {
				display: block;
				padding: 10px 0px;
				font-family: 'Proxima Nova';
				color: #444;
				text-decoration: none;
				text-align: center;
				&:hover {
					color: #aaa;
				}
				&.active {
					font-weight: 700;
					border-bottom: solid 2px #444;
				}
			}
		}
	}
}

// Main Logo
#main-logo {
	width: 70px;
	display: block;
	@include transition(all ease 0.5s);
	@include transform(rotate(360deg));
	&:hover {
		@include transform(translateY(-10px) rotate(-180deg));
	}
	@include bp(600px) {
		width: 55px;
	}
}

#loading-logo {
	width: 200px;
}

// Containers
.container {
	max-width: 1000px;
	margin: 0px auto;
	position: relative;
}

.flex {
	@include display(flex);
}

// Columns
// REDO ME WITH BOURBON NEAT!
.half {
	float: left;
	width: 50%;
	display: inline-block;
	@include bp(600px) {
		width: 100%;
		float: none;
	}
}

.columns-3 {
	@include columns(3);
	@include column-gap(20px);
	@include column-gap(20px);
	span {
		display: block;
		font-size: 0.9em;
		margin-bottom: 20px;
	}
}

// Main Content
#main-content {
	padding: 0px 0px 100px $nav-padding + $nav-width * 2;
	width: 100%;
	min-height: 100%;
	position: absolute;

	.liquid-container {
		max-width: 900px;
	}

	@include bp(1200px) {
		padding: 0px 100px 50px $nav-padding-small + $nav-width * 2;
	}
	@include bp(600px) {
		padding: 0px;
		padding-top: 0px;
		width: 100%;
	}
}

.content {
	@include clearfix();
}

.container {
	@include clearfix();
}

.flex-bar {
	@include display(flex);
	&.bottom {
		@include align-items(flex-end);
	}
}

#hire-btn {
	z-index: 999;
	position: fixed;
	top: 20px; right: 20px;
	font-size: 14px;
	@include bp(600px) {
		display: none;
	}
 	&:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: 16px;
		top: 38px;
		border: 8px solid;
		border-color: #444 transparent transparent #444;
	}
	&:after {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: 18px;
		top: 38px;
		border: 5px solid;
		border-color: whitesmoke transparent transparent whitesmoke;
	}

	&.active, &:hover {
		background: #444;
		&:before, &:after {
			border-color: #444 transparent transparent #444;
		}
	}
}


// Entire Project Page
.project {
	position: relative;
	height: 100%;
	h1 {
		margin-bottom: 0px;
	}

	.container {
		padding: 0px;
	}
}


.projects-container {
	max-width: 750px;
	padding-left: 50px;
	padding-bottom: 50px;
	@include bp(600px) {
		width: 100%;
		padding: 10px;
	}
}

.project-infobar {
	@include display(flex);
	@include align-items(center);
}


.project-types {
	color: #777;
	font-size: 0.9em;
	display: inline-block;
	margin-right: 20px;
	letter-spacing: 3px;
	line-height: 80px;
	font-style: italic;
	@include flex-grow(1);
}

// Buttons
.pill-btn {
	border: solid 2px #222;
	color: #222;
	background: transparent;
	font-family: "Proxima Nova";
	font-size: 0.9em;
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 12px 15px;
	border-radius: 20px;
	margin-left: auto; margin-right: 10px;
	@include flex-grow(0);
	&:hover, &.active {
		border: solid 2px transparent;
		color: #fff;
		background: #222;
	}
}
