// Bourbon
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

// Meyer Reset
@import "config/reset";

// Mixins
@import "config/mixins";

// Fonts
@import "config/fonts";

// Utilities
// Fonts
@import "config/utilities";

// Forms
@import "forms";

// Components
@import "components/project-tile";
@import "components/donut-chart";
@import "components/gravatar-image";
@import "components/gravatar-image";

// Variables
$nav-width: 80px;
$nav-padding: 150px;
$nav-padding-small: $nav-padding / 4;



* {
	font-family: 'Proxima Nova';
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: whitesmoke;
}

// To prevent liquid fire from shrinking
.ember-view {
	min-height: 100%;
	position: relative;
}

// Main Navigation
#main-nav {
	padding-top: 100px;
	padding-left: $nav-padding;
	padding-right: 30px;
	height: 100%;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
/* 	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
 */
	@include bp(1200px) {
		padding-left: $nav-padding-small;
	}

	@include bp(600px) {
		padding: 15px;
		height: auto;
		width: 100%;
	}

	ul {
		display: inline-block;
		@include bp(600px) {
			position: absolute;
			right: 10px;
			top: 10px;
		}
		li {
			margin: 20px 0px;
			list-style: none;
			@include bp(600px) {
				display: inline-block;
				padding: 0px 10px;
			}
			a {
				display: block;
				padding: 10px 0px;
				font-family: 'Proxima Nova';
				color: #444;
				text-decoration: none;
				text-align: center;
				&:hover {
					color: #aaa;
				}
				&.active {
					border-bottom: solid 2px #444;
				}
			}
		}
	}
}

// Main Logo
#main-logo {
	width: 70px;
	display: block;
	@include bp(600px) {
		width: 55px;
	}
}

// Containers
.container {
	max-width: 1000px;
	margin: 0px auto;
	position: relative;
}

.flex {
	@include display(flex);
}

// Columns
// REDO ME WITH BOURBON NEAT!
.half {
	float: left;
	width: 50%;
	display: inline-block;
	@include bp(600px) {
		width: 100%;
		float: none;
	}
}

.columns-3 {
	@include columns(3);
}

// Main Content
#main-content {
	padding: 0px 0px 0px $nav-padding + $nav-width * 2;
	width: 100%;
	min-height: 100%;
	position: absolute;

	.liquid-container {
		max-width: 900px;
	}

	@include bp(1200px) {
		padding: 0px 100px 50px $nav-padding-small + $nav-width * 2;
	}
	@include bp(600px) {
		padding: 0px;
		padding-top: 0px;
		width: 100%;
	}
}

.content {
	@include clearfix();
}

// Entire Project Page
.project {
	position: relative;
	height: 100%;
	img {
		right: 0px; top: 0px;
		width: 250px;
	}
}

.projects-container {
	max-width: 500px;
	padding-left: 50px;
	@include bp(600px) {
		width: 100%;
		padding: 10px;
	}
}
