// Bourbon
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

// Meyer Reset
@import "config/reset";

// Fonts
@import "config/fonts";

// Variables
$nav-width: 80px;

* {
	font-family: 'Proxima Nova';
}

body {
	background: whitesmoke;
}

// Main Navigation
#main-nav {
	margin-top: 10%;
	width: $nav-width;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	ul {
		li {
			margin: 20px 0px;
			list-style: none;
			a {
				display: block;
				padding: 10px;
				font-family: 'Proxima Nova';
				color: #aaa;
				text-decoration: none;
				&:hover {
					color: #333;
				}
			}
		}
	}
}


// Main Logo
#main-logo {
	width: 70px;
}

// Containers
.container {
	max-width: 1000px;
	margin: 0px auto;
	position: relative;
	&.flex {
		@include display(flex);
	}
}

#main-container {
	padding-left: $nav-width + 30;
}

// Main Content
#main-content {
	padding: 100px;
	width: 100%;
	min-height: 700px; // Remove me: only here to stop liquid fire animations from closing up
}
