input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0px;
    background: whitesmoke;
    color: #222;
    border: none;
    outline: none;
    font-size: 1em;
    min-height: 40px;
    max-width: 1000px;
    border: solid 2px #222;
    padding: 15px;
}

textarea {
    min-height: 400px;
}

button {
    background: transparent;
    color: #222;
    border: solid 2px #222;
    outline: none;
    padding: 12px 70px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 0px;
    &:hover {
        background: #222;
        color: #fff;
    }
}
