.project-tile {
    @include span-columns(4 of 12);
    padding: 10px;
    max-width: 120px;
    //@include omega(4n);
    /* margin-right: 25px;
    margin-bottom: 25px; */
    //position: relative;
    z-index: 1;
    border-radius: 200%;

    @include bp(600px) {
        @include span-columns(4 of 12);
    }

    &:hover {
        .thumbnail {
            @include transform (translateY(-12px) );
            //@include transform( rotate(-10deg) );
        }
    }

    a {
        position: absolute;
        top: 0; left: 0;
        display: block;
        height: 100%; width: 100%;
    }

    .thumbnail {
        max-width: 100%;
        display: block;
        position: relative;
        border-radius: 200% !important;
        @include transition(transform ease-in-out 0.5s);
    }

}
