.project-tile {
    width: 125px;
    height: 125px;
    margin: 5px;
    display: inline-block;
    float: left;
    background: url("/assets/images/rootspring.jpg") center center;
    background-size: 300%;
}
