.project-tile {
    width: 100px;
    height: 100px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: inline-block;
    float: left;
    position: relative;
    z-index: 1;
    border-radius: 200%;

    &:hover {
       .name {
            //@include transform(scale(1.15));
            //z-index: 1;
        }
        .thumbnail {
            @include transform (translateY(-12px) );
            //@include transform( rotate(-10deg) );
        }
    }

    a {
        position: absolute;
        top: 0; left: 0;
        display: block;
        height: 100%; width: 100%;
    }

    .thumbnail {
        width: 100%;
        border-radius: 200% !important;
        @include transition(all ease 0.75s);
    }
    
    .name {
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 200%;
        //background: /* url("/assets/images/icons/eye.svg") */ center 15px no-repeat #333;
        background-size: 70%;
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 0.85em;
        z-index: -1;
        height: 100%; width: 100%;
        @include transition(all ease 0.25s);
        @include transform(scale(1));
        @include display(flex);
        @include justify-content(center);
        @include flex-direction(column);
    }
}
