section.social{
	background: none;
	padding: 0px;
	.pill-btn {
		border-radius: 50%;
		padding: 15px 17px;
	}
}

// Main Nav
#main-nav {
    .social {
        text-align: center;
        padding-bottom: 50px;
        @include flex(1 0 100%);
        @include align-self(flex-end);
        @include bp(750px) {
            display: none;
    	}
        .pill-btn {
            padding: 0px;
            background: none;
            font-size: 1.2em;
            @include transition(all ease 0.25s);
            i {
                color: #fff;
            }

            &:hover {
                @include transform(scale(1.15));
            }
        }
    }
}
