.circle {
    border-radius: 200%;
    overflow: hidden;
}

.half {
    width: 50%;
}


.col-1 {
    @include span-columns(12);
    @include omega;
    margin: 30px 0px;

    @include bp(600px) {
        padding: 0px 20px;
    }
}

.col-1-2 {
    @include span-columns(6);
    @include omega(2n);
    &:nth-child(1) {
        padding-right: 20px;
    }

    @include bp(1200px) {
        @include span-columns(12);
        @include omega(1n);
    }

    @include bp(750px) {
        padding: 0px 20px;
    }
}
