<div id="main-container" class="container flex">

	<nav id="main-nav">
		<img id="main-logo" src="assets/images/logo.svg" alt="Tedd Arcuri's Logo" />
		<ul>
			<li>
			 {{#link-to 'about'}}
			 About
			 {{/link-to}}
			</li>
			<li>
			 {{#link-to 'index'}}
			 Work
			 {{/link-to}}
			</li>
			<li>
			 {{#link-to 'about'}}
			 Thoughts
			 {{/link-to}}
			</li>
			<li>
			 {{#link-to 'contact'}}
			 Contact
			 {{/link-to}}
			</li>
		</ul>
	</nav>

	<main id="main-content">
		{{liquid-outlet}}
	</main>
</div>
