<div class="container">
    <h1>Contact</h1>

    <div class="content">
        <p>
            <span>719-440-4732 | tedd.arcuri@gmail.com</span>
        </p>

        <form class="" action="index.html" method="post">
            <textarea placeholder="Drop me a line. Please leave contact information if you'd like me to be in touch." name="name" rows="8" cols="40"></textarea>
            <button type="button" name="button">Submit</button>
        </form>
        {{outlet}}
    </div>
</div>
