<div class="container">
    <h1>Contact</h1>

    <div class="content">

        <h3>
            Email
        </h3>

        <p>
            <span>tedd.arcuri@gmail.com</span>
        </p>

        <h3>
            Call
        </h3>

        <p>
            <span>719-440-4732</span>
        </p>

        {{social-media-icons}}

        <!-- <form class="" action="index.html" method="post">
            <textarea placeholder="Drop me a line. Please leave contact information if you'd like me to be in touch." name="name" rows="8" cols="40"></textarea>
            <button type="button" name="button">Submit</button>
        </form> -->
        {{outlet}}
    </div>
</div>
