{{canvas-scene}}
<div id="canvas-render">
</div>

<section class="landing-page">
    <article>
        <h1>
            {{gravatar-image  email="tedd.arcuri@gmail.com" size=120}}
            Hello
        </h1>
        <h2> My name is Tedd</h2>
        <h3>Developer + Designer</h3>
        <br>
        <br>
        {{#link-to 'about' class="pill-btn"}}
            About Me
        {{/link-to}}

        {{#link-to 'projects' class="pill-btn"}}
            See My Work
        {{/link-to}}

        {{#link-to 'contact' class="pill-btn"}}
            Get in touch
        {{/link-to}}
        <br>
        <br>
        {{social-media-icons}}
    </article>
</section>
