<section class="loading-screen">

        <ul class="loading active">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
          </ul>

</section>
